<br />
<table id="datatable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>ردیف</th>
            <th>سال</th>
            <th>از تاریخ</th>
            <th>تا تاریخ</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    
    <tfoot>
        <tr>
            <th>شناسه</th>
            <th>ردیف</th>
            <th>سال</th>
            <th>از تاریخ</th>
            <th>تا تاریخ</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>